@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #d4feb4;
  padding: 2em;
}

header {
  font-size: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
  padding-top: 0;
}

.timertext {
  font-size: 12px;
  font-weight: 600;
  float: right;
  margin: 1.5rem 1rem 1rem;
}
#refreshbtn {
  color: white;
  padding: 0.2rem;
  border-radius: 5px;
  border-style: none;
  background-color: #8ed558;
  cursor: pointer;
}
#refreshbtn:active {
  background-color: #80c04f;
}
#container {
  margin-bottom: 0;
  min-height: 9em;
  height: fit-content;
  border: solid 1.5px rgb(202, 202, 202);
  box-shadow: #32325d40 0px 50px 100px -20px, #0000004d 0px 30px 60px -30px,
    #0a254059 0px -2px 6px 0px inset;
  background-color: white;
}
@media (max-width: 480px) {
  header {
    font-size: 24px;
  }
}
